<div drawer parallax>
    <h2>User Interface</h2>
    <ul>
        {% for comp in collections.components %}
            {% if comp.component.type === 'ui' && !comp.component.inDev %}
                <li>
                    <a href="{{pathRoot}}{{comp.component.name}}/index.html">
                        <span>
                            {{comp.component.name}}
                            <b>{{comp.component.package}}</b>
                        </span>
                    </a>

                </li>
            {% endif %}
            {% if comp.component.type === 'ui' && comp.component.inDev %}
            <li>
                <a href="#">
                    <span>
                        {{comp.component.name}}
                        <b>[ in development ]</b>
                    </span>
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Utility</h2>
    <ul>
        {% for comp in collections.components %}
            {% if comp.component.type === 'utility' && !comp.component.inDev %}
            <li>
                <a href="{{pathRoot}}{{comp.component.name}}/index.html">
                    <span>
                        {{comp.component.name}}
                        <b>{{comp.component.package}}</b>
                    </span>
                </a>
            </li>
            {% endif %}

            {% if comp.component.type === 'utility' && comp.component.inDev %}
            <li>
                <a href="#">
                    <span>
                        {{comp.component.name}}
                        <b>[ in development ]</b>
                    </span>
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
