<a name="install"></a>
<section class="section__install">
    <h3>Install</h3>
    <p>
        If you haven't used Polymer before you can checkout out the
        <a href="http://www.polymer-project.org/docs/start/getting-the-code.html">Getting the Code</a>
        and <a href="http://www.polymer-project.org/docs/start/usingelements.html">Using the Elements</a>
        guides for a quick introduction to Polymer.
    </p>
    <p>
        Once your all setup with Polymer, you can install it directly into your project with <a href="http://bower.io/">Bower</a>.
    </p>
    <code>
        $ bower install {{component.package}} --save
    </code>
</section>
