---
title: Home
pageType: index
---


<section>
    <p>
        Akyral isn't trying to be a framework or a library of any sorts.
        It isn't trying to replace the already well-established css and js frameworks out there.
    </p>
    <p>
        Instead, Akyral aims to provide a set of commonly used web concepts with
        a ridiculous amount of customization.
    </p>
</section>

<section class="section__yellow">
    <h3>How is it different?</h3>

    <p>
        Akyral is built on web component technology using the Polymer framework.
    </p>
    <p>
        It focuses on simple to use syntax and utilizes performant animations that give high quality feel.
        Above all, Akyral is built with a mobile first methodology.
    </p>
</section>

<section class="section__green">
    <h3>In Development</h3>
    <p>
        Aute proident veniam amet non reprehenderit anim elit sit aliqua velit. Esse veniam commodo adipisicing commodo reprehenderit cupidatat est aliqua ad consectetur deserunt velit ipsum nostrud. Amet pariatur consequat esse proident reprehenderit sint tempor ex velit. Velit est laborum mollit qui incididunt pariatur tempor pariatur occaecat ipsum id culpa. Consequat duis deserunt duis qui magna commodo non proident. Nostrud veniam reprehenderit deserunt excepteur sit est ullamco culpa. Ullamco anim sit aliqua laborum proident ea Lorem. Nisi nostrud in consequat velit quis magna Lorem officia.
    </p>
</section>
