---
title: Home
pageType: index
---


<section>
    <p>
        Akyral isn't trying to be a framework or a library of any sorts.
        It isn't trying to replace the already well-established css and js frameworks out there.
    </p>
    <p>
        Instead, Akyral aims to provide a set of commonly used web concepts with
        a ridiculous amount of customization.
    </p>
</section>

<section class="section__yellow">

    <article>
        <h3>Mobile First</h3>
        <p>
            Components are designed and constructed with a mobile first methodology.
        </p>
    </article>

    <article>
        <h3>Simple</h3>
        <p>
            Akyral focuses on simple to use semantic markup. Each component has its own declaritive attribute based api.
        </p>
    </article>

    <article>
        <h3>Performant</h3>
        <p>
            Each animation is chosen to perform above 60fps, ensuring a high quality feel.
        </p>

    </article>
</section>

<section class="section__green">
    <h3>Contributing</h3>
    <p>TBD</p>
</section>
