div[drawer] {
    background: $darkpurple !important;
    padding: 50px 40px 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    > div {
        position: relative;
        margin: 30px 0;
    }

    h2 {
        color: $pink;
        font-size: 18px;
        font-weight: 400;
        margin: 0 0 10px;
        text-transform: uppercase;

        a {
            color: $pink;
        }
    }

    li {
        // margin-bottom: 3px;
    }

    a {
        // background: $pink;
        color: $palepurple;
        display: block;
        // font-size: 14px;
        font-weight: 400;
        // padding: 12px 14px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    b {
        display: block;
        font-size: 13px;
        font-weight: 100;
        text-transform: lowercase;
    }
}
