.page__footer {
    background: $pink;
    color: $offwhite;
    font-size: 12px;
    padding: 20px;
    text-align: center;

    [class^="icon"] {
        font-size: 12px;
    }

    a {

        color: $offwhite;
        margin-left: 5px;

        &:before {
            margin-right: 1px;
        }
    }

    span {
        font-size: 12px;
    }
}

[main][home] .page__footer {
    display: none;
}
