.page__header {
    background: $darkpurple;
    color: $offwhite;
    padding: 50px 20px 50px;
    position: relative;
    margin-bottom: 40px;
    text-align: center;

    button {
        background: $palepurple;
        border: 0;
        bottom: -16px;
        display: inline-block;
        font-size: 12px;
        font-weight: 100;
        left: 7px;
        margin: 0;
        padding: 12px;
        position: absolute;
        text-transform: uppercase;
        border: 3px solid $beige;

        &:before {
            margin-right: 10px;
        }

        @media (min-width: 944px){
            display: none !important;
        }
    }

    h1 {
        font-size: 80px;
        font-weight: 700;
        height: auto;
        margin: 0;

        > a {
            color: $offwhite;
        }

        @media (max-width: 600px){
            font-size: 50px;
        }

        span {
            color: $pink;
            font-style: italic;
            font-size: .4em;
            font-weight: 300;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 300;
        margin: 0;
    }
}

[drawer][right] + [main]{
    [name="menu"] {
        left: auto;
        right: 7px;
    }
}


.page__header--compressed {
    height: 45px;
    padding: 20px 0 10px 30px;

    h1 {
        font-size: 32px;
        height: 45px;
        padding-left: 10px;
        margin-left: 96px;
        text-align: left;

        @media (min-width: 944px){
            margin-left: 0;
        }

        span {
            font-weight: 400;
        }
    }

    h2 {
        display: none;
    }
}

[drawer][right] + [main] .page__header--compressed h1 {
    margin-left: 0;
}
