.page__header {
    font-family: 'News Cycle';
    color: $darkpurple;
    position: relative;

    button {
        background: transparent;
        border: 0;
        font-size: 14px;
        position: absolute;
        right: 0;
        text-transform: uppercase;
        bottom: 10px;

        @media screen and (max-width: 480px){
            bottom: 4px;
        }

        @media screen and (min-width: 944px){
            display: none;
        }

        &:before {
            font-size: 12px;
            margin-right: 8px;
        }
    }

    h1 {
        font-weight: 400;
        font-size: 40px;
        margin: 0;

        @media screen and (max-width: 480px){
            font-size: 28px;
        }

        @media screen and (max-width: 620px){
            font-size: 32px;
        }
    }
}

[main][home] .page__header {
    margin: 30px 30px 0;
}

[main][demo] .page__header {
    border-bottom: 2px solid $darkpurple;
    box-shadow: 1px 0 10px rgba(0,0,0,.3);
    box-sizing: border-box;
    color: $darkpurple;
    height: 60px;
    padding: 10px 30px;
    overflow: hidden;

    a {
        color: $darkpurple;
    }

    h1 {
        font-size: 28px;
        font-weight: 100;
    }

    button {
        right: 20px;
    }
}
