@font-face {
	font-family: 'icon';
	src:url('/akyral.io/assets/fonts/icon.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-doc:before {
	content: "\e606";
}
.icon-chat:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}
.icon-lab:before {
	content: "\e602";
}
.icon-menu:before {
	content: "\e603";
}
.icon-tools:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e605";
}
