<div drawer parallax>
    <h2>User Interface</h2>
    <ul>
        {{#each components}}
            {{#is component.disabled undefined}}
                <li>
                    <a href="{{component.name}}.html">
                        <span>
                            {{component.name}}
                            <b>akyral-{{component.name}}</b>
                        </span>

                    </a>
                </li>
            {{/is}}
        {{/each}}
        {{#each components}}
            {{#isnt component.disabled undefined}}
                <li>
                    <a href="#">
                        <span>
                            {{component.name}}
                            <b>[ in development ]</b>
                        </span>
                    </a>
                </li>
            {{/isnt}}
        {{/each}}
    </ul>

</div>
