<div drawer parallax>
    <h2>/ playgrounds /</h2>
    {{#ul components}}
        <a href ="/playground/{{component }}.html">
            {{component }}
            <span>akyral-{{component}}</span>
        </a>
    {{/ul}}
</div>
