<h2>/ Component /</h2>
<ul >
    {{#components }}
    <li>
        <a href ="/components/{{component }}.html">
            {{component }}
            <span>akyral-{{component}}</span>
        </a>
    </li >
    {{/components }}
</ul >
