<footer class="page__footer">
    maintained and built by
    <span>
        Filipe Araujo
        <a href="https://twitter.com/filipearaujo" class="icon-twitter"></a>
        <a href="https://github.com/filaraujo" class="icon-github"></a>
    </span>
</footer>
