<header class="page__header {{#isnt headerType undefined}}page__header--compressed{{/isnt}}">
    <button name="menu" class="icon icon-menu">menu</button>
    <h1>
        Akyral
        <span>alpha</span>
    </h1>
    <h2>Responsive, highly customizable web components built on Polymer.</h2>
</header>
