<link rel="import" href="../core-component-page/core-component-page.html">
<link rel="import" href="../akyral-layout/akyral-layout.html">
<link rel="import" href="../akyral-modal/akyral-modal.html">
<link rel="import" href="../akyral-element-query/akyral-element-query.html">
<link rel="import" href="../akyral-docs/akyral-docs.html">
<link rel="import" href="../akyral-code/akyral-code.html">
<link rel="import" href="../akyral-waypoint/akyral-waypoint.html">
<link rel="import" href="../akyral-details/akyral-details.html">
