---
title: Layout
headerType: compressed
componentName: ui-layout
components: { name: layout, disabled: true }

---

<h2>[ Drawer ]  <span>Configuration</span></h2>
<section class="section__yellow">
    <h3>Position</h3>
    <p>
        Position will define where the sidebar is positioned.
    </p>
    <div class="text-centered">
        <a href="#" data-position="left">left</a>
        <a href="#" data-position="right">right</a>
    </div>
</section>

<section class="section__green">
    <h3>Type</h3>
    <p>
        Type will define the visual effect given to the drawer on exiting and entering.
        This value only applies to viewports smaller than 944 pixels
        <span class="resize">, so go ahead and resize down your browser</span>.
    </p>
    <div class="text-centered">
        <a href="#" data-type="pan">pan</a>
        <a href="#" data-type="parallax">parallax</a>
        <a href="#" data-type="reveal">reveal</a>
        <a href="#" data-type="slide">slide</a>
    </div>
</section>

<section class="section__inverted">
    <h3>Install</h3>
    <p>
        If you haven't used Polymer before you can checkout out the
        <a href="http://www.polymer-project.org/docs/start/getting-the-code.html">Getting the Code</a>
        and <a href="http://www.polymer-project.org/docs/start/usingelements.html">Using the Elements</a>
        guides for a quick introduction to Polymer.
    </p>
    <p>
        Once your all setup with Polymer, you can install it directly into your project with <a href="http://bower.io/">Bower</a>
        and import the {{componentName}} asset and you're ready to go.
    </p>
    <code>
        $ bower install --save ui-layout
    </code>
</section>



<section class="section__green section__tip">
    <h3 class="icon-chat">Helpful Gotchas</h3>
    <p>
        <b>{{componentName}}</b> should be placed immediately inside the body tag, this will allow
        to fully fit the window.
    </p>
</section>

<h2>Documentation</h2>
<akyral-docs component="{{componentName}}"></akyral-docs>


<script charset="utf-8">
    (function(){
        var drawerInner = document.querySelector('[drawer]').innerHTML,
            mainInner = document.querySelector('[main]').innerHTML,
            ui = document.querySelector('ui-layout'),
            currentType = 'pan',
            currentPosition = 'left';

        function bindEvents(){
            var anchors = document.querySelectorAll('[main] a');

            [].forEach.call(anchors, function(anchor){
                anchor.addEventListener('click', createNewUi);
            });

            document.querySelector('a[data-type="'+currentType+'"]').classList.add('active');
            document.querySelector('a[data-position="'+currentPosition+'"]').classList.add('active');
        }

        function createNewUi(e){
            var ui = document.querySelector('ui-layout'),
                drawer = document.createElement('div'),
                main = document.createElement('div'),
                newUi = new UiLayout();

            drawer.setAttribute('drawer', '');
            drawer.innerHTML = drawerInner;

            main.setAttribute('main', '');
            main.setAttribute('demo', 'layout');
            main.innerHTML = mainInner;

            main.querySelector('button[name="menu"]').addEventListener('click', function(){
                document.querySelector('ui-layout').toggleDrawer();
            });

            newUi.appendChild(drawer);
            newUi.appendChild(main);

            if(this.hasAttribute('data-type')){
                currentType = this.getAttribute('data-type');
            }

            if(this.hasAttribute('data-position')){
                currentPosition = this.getAttribute('data-position');
            }

            drawer.setAttribute(currentPosition,'');
            drawer.setAttribute(currentType,'');

            // ga('send', 'event', 'ui-layout', 'set type and position', currentPosition+' '+currentType);

            document.body.removeChild(ui);
            document.body.appendChild(newUi);

            bindEvents();

            return false;
        }

        bindEvents();
    }());
</script>
