<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}} | {{site.title}}</title>
    {{> meta }}
    <script src="{{assets}}/components/platform/platform.js"></script>
    <link rel="import" href="{{assets}}/components/ui-layout/ui-layout.html">
</head>

<body>
    <ui-layout>
        <div drawer>x</div>
        <div main>{{> body }}</div>
    </ui-layout>
</body>

</html>
