---
layout: src/templates/layouts/blank.hbs
---

<ui-layout>
    <div drawer>
        {{> drawer }}
    </div>
    <div main class="{{pageType}}">
        <header>
            <h1>
                Akyral
                <span>alpha</span>
            </h1>
            <h2>Responsive, highly customizable web component library built on Polymer.</h2>
        </header>

        {{> body }}
    </div>
</ui-layout>
