---
layout: src/templates/layouts/blank.hbs
---

<akyral-layout>
    {{> drawer }}
    <div main {{#isnt page.components undefined}}demo="{{page.components.name}}"{{/isnt}} {{#isnt pageType undefined}}page="{{pageType}}"{{/isnt}}>
        {{> header}}
        {{> body }}
        {{> footer }}
    </div>
</akyral-layout>
