---
component: { name: element-query, package: akyral-element-query, type: utility }
page: element-query
title: Element Query
template: base.html
---

<h2>[ Element Query ]</h2>

<section class="section">

    <h3>What is it?</h3>
    <p>
        Where as a media query applies to the viewport of a device or page, an element query is
        affected by its own dimensions.
    </p>

    <h3>How it works?</h3>
    <p>
        When a media query is passed into the element query, <code>akyral-element-query</code> polyfills
        element query functionality into its parent. When media query is successfully
        matches against the element, the media attribute of the akyral-element-query is updated.
        You then can databind or event listeners to reactively use that media attribute for styling.
    </p>
    <p>
        Your can adjust the slider to visualize the different queries associated with the below element.
    </p>
    <demo-query-content></demo-query-content>
</section>

{% include "templates/partials/install.html" %}

<a name="gotchas"></a>
<section class="section__gotchas">
    <h3 class="icon-chat">Helpful Gotchas</h3>

    <h4>Parent Composition</h4>
    <p>
        {{component.package}} requires its parent css position be set to absolute
        or relative to work correctly.
    </p>

    <h4>Circularity</h4>
    <p>
        Be aware of circular style references with element query styles <a href="http://www.xanthir.com/b4PR0">@see</a>.
        One style may cause cycling between another and back again. Avoid defining
        a fixed width in components.
    </p>
</section>

{% include "templates/partials/documentation.html" %}

<polymer-element name="demo-query-content">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <input type="range" value="{% raw %}{{width}}{% endraw %}" min="20" max="100" step="1">

        <div class="demo-query"  media="{% raw %}{{media}}{% endraw %}" style="width: {% raw %}{{width}}%{% endraw %}">
            <akyral-element-query id="eq" queries='["(max-width:375px)","(min-width:376px) and (max-width:500px)","(min-width:501px) and (max-width:750px)", "(min-width:751px)"]' media="{% raw %}{{media}}{% endraw %}"></akyral-element-query>
            <div class="demo-query__inner">
                <div class="demo-query__review">
                    This element is configured with an element query that is currently displaying the <code>{% raw %}{{media}}{% endraw %}</code> media query .
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer('demo-query-content', {
            width: 100,
            ready: function(){
            }
        });
    </script>
</polymer-element>
