---
component: { name: layout, package: akyral-layout, type: ui }
page: layout
template: base.html
title: Layout
---

<h2>[ Drawer ]  <span>Configuration</span></h2>

<section class="section">
    <h3>Type</h3>
    <p>
        Type will define the visual effect given to the drawer on exiting and entering.
        This value only applies to viewports smaller than 944 pixels
        <span class="resize">, so go ahead and resize down your browser</span>.
    </p>
    <div class="demo__type">
        <core-selector data-attribute="type" selected="1" selectedClass="button__config--selected">
            <button class="button__config" data-type="pan">pan</button>
            <button class="button__config" data-type="parallax">parallax</button>
            <button class="button__config" data-type="reveal">reveal</button>
            <button class="button__config" data-type="slide">slide</button>
        </core-selector>
    </div>
</section>

<section class="section">
    <h3>Position</h3>
    <p>
        Position will define on what side the sidebar is positioned in the viewport.
    </p>
    <button class="button__preview icon-lab">toggle sidebar</button>
    <div class="demo__position">
        <core-selector data-attribute="position" selected="0" selectedClass="button__config--selected">
            <button class="button__config" data-position="left">left</button>
            <button class="button__config" data-position="right">right</button>
        </core-selector>
    </div>
</section>

<a name="review"></a>
<section class="section__review">
    <h3>Config Review</h3>
    <demo-configuration type="parallax" position="left"></demo-configuration>
    <button class="button__preview icon-lab">toggle sidebar</button>
</section>

{% include "templates/partials/install.html" %}

<a name="gotchas"></a>
<section class="section__gotchas">
    <h3 class="icon-chat">Helpful Gotchas</h3>
    <p>
        <b>{{componentName}}</b> should be placed immediately inside the body tag, this will allow
        to fully fit the viewport.
    </p>
</section>

{% include "templates/partials/documentation.html" %}

<polymer-element name="demo-configuration" attributes="type position">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        This page's layout is currently configured with <code>{% raw %}{{type}}{% endraw %}</code> positioned
        drawer that is positioned on the <code>{% raw %}{{position}}{% endraw %}</code>

    </template>
    <script>
        Polymer('demo-configuration', {
            position: null,
            type: null
        });
    </script>
</polymer-element>


<script charset="utf-8">
    (function(){
        var sidebars = {
                position: ['left', 'right'],
                type: ['pan', 'parallax', 'reveal', 'slide']
            },
            ui = document.querySelector('akyral-layout'),
            previewBtns = ui.querySelectorAll('.button__preview'),
            demoConfig = document.querySelector('demo-configuration');

        ui.querySelector('core-selector[data-attribute="position"]')
            .addEventListener('core-activate', setProperty('position'));

        ui.querySelector('core-selector[data-attribute="type"]')
            .addEventListener('core-activate', setProperty('type'));

        [].forEach.call(previewBtns, function(button){
            button.addEventListener('click', function(){
                ui.toggleDrawer();
            });
        });

        function setProperty(prop){
            return function(e){
                var drawer = ui.shadowRoot.querySelector('#drawer'),
                    currentProp = this.querySelectorAll('button')[this.selected].getAttribute('data-'+prop);

                drawer.classList.add('adjusting');
                console.log(drawer)

                sidebars[prop].forEach(function(p){
                    drawer.removeAttribute(p);
                })

                drawer.setAttribute(currentProp, '');
                demoConfig.setAttribute(prop, currentProp);

                ga('send', 'event', 'akyral-layout', 'set '+prop, currentProp);

                // prevent FOC
                setTimeout(function(){
                    drawer.classList.remove('adjusting');
                }, 300);
            }
        }
    }());
</script>
