.page__footer {
    color: $pink;
    font-size: 10px;
    margin-top: 50px;
    text-align: center;

    [class^="icon"] {
        font-size: 12px;
    }

    a {
        border: 1px solid $pink;
        color: $pink;
        font-weight: 200;
        padding: 6px 8px 6px 8px;
        margin-right: 5px;
        text-align: center;
        border-radius: 20px;
        display: inline-block;
        transition: background .3s, color .3s;

        &:hover {
            background: $pink;
            border-color: transparent;
            color: $offwhite;
        }

        &:before {
            margin-right: 6px;
        }
    }

    span {
        display: block;
        margin-top: 5px;
        font-size: 12px;
    }
}
