.page__footer {
    color: $pink;
    font-size: 10px;
    margin-top: 50px;
    text-align: center;

    [class^="icon"] {
        border: 0;
        font-size: 13px;
        text-align: middle;

        &:before {
            margin-right: 5px;
        }
    }

    span {
        display: block;
        font-size: 12px;
    }
}
