.page__header {
    color: $offwhite;
    padding: 40px 20px 60px;
    margin-bottom: 6px;
    position: relative;
    text-align: center;

    button {
        background: $gray;
        border: 0;
        bottom: 0;
        display: inline-block;
        font-size: 12px;
        font-weight: 100;
        left: 0;
        margin: 0;
        padding: 12px;
        position: absolute;
        text-transform: uppercase;
    }


    h1 {
        font-size: 80px;
        font-weight: 700;
        margin: 0;

        span {
            color: $pink;
            font-style: italic;
            font-size: .4em;
            font-weight: 300;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 300;
        margin: 0;
    }
}


.page__header--compressed {
    padding: 0;
    margin: 8px 0 8px;
    height: 44px;

    button {
        display: inline;
        float: left;
        height: 44px;
        margin: 0 16px 0 0;
        position: static;
    }

    h1 {
        font-size: 32px;
        text-align: left;
    }

    h2 {
        display: none;
    }
}
