.page__header {
    color: $offwhite;
    padding: 30px 20px 70px;
    margin-bottom: 6px;
    position: relative;
    text-align: center;

    @media (max-width: 600px){
        padding-top: 0;
    }

    button {
        background: $gray;
        border: 0;
        bottom: 0;
        display: inline-block;
        font-size: 12px;
        font-weight: 100;
        left: 0;
        margin: 0;
        padding: 12px;
        position: absolute;
        text-transform: uppercase;

        &:before {
            margin-right: 10px;
        }

        @media (min-width: 944px){
            display: none !important;
        }
    }

    h1 {
        font-size: 80px;
        font-weight: 700;
        margin: 0;

        @media (max-width: 600px){
            font-size: 50px;
        }

        span {
            color: $pink;
            font-style: italic;
            font-size: .4em;
            font-weight: 300;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 300;
        margin: 0;
    }
}


.page__header--compressed {
    padding: 0;
    margin: 13px 0 30px;
    height: 45px;

    button {
        display: inline;
        float: left;
        height: 45px;
        margin: 0;
        position: static;
    }

    h1 {
        background: $pink;
        color: $brown;
        font-size: 32px;
        height: 45px;
        padding-left: 10px;
        margin-left: 96px;
        text-align: left;

        @media (min-width: 944px){
            margin-left: 0;
        }

        span {
            color: $brown;
            font-weight: 400;
        }
    }

    h2 {
        display: none;
    }
}
