$brown: #372d3b;
$lighterBrown: #4f3043;
$gray: #514A53;
$pink: #c5415d;
$lightpink: #E27D93;
$beige: #eddeab;
$offwhite: #ffffde;
$green: #c6ce9e;

@import 'normalize';
@import 'icons';
@import 'header';
@import 'footer';
@import 'footer';



body {
    background: $brown;
    color: $pink;
    font-family: 'Roboto Slab';
    font-weight: 300;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $pink;

    &:hover {
        border-color: $offwhite;
        color: $offwhite;
    }

    text-decoration: none;
}

b {
    font-weight: 400;
}

.icon {
    font-family: 'icon';
}


div[main]{
    background: $brown !important;
    padding: 20px;


    h3 {
        color: $brown;
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    section {
        background: $pink;
        color: $lighterBrown;
        padding: 20px 20px;
        margin-bottom: 6px;

        svg {
            position: absolute;
            bottom: -20px;
            left: 0;
            right: 0;
            z-index: 2;
            width: 100%;
        }
        g {
            width: 100%;
        }

        path {
            fill: $pink;
        }


        p {
            margin-top: 0;
        }

        &.section__yellow {
            background: $beige;
        }

        &.section__green {
            background: $green;
        }

        &.section__inverted {
            background: transparent;
            color: $pink;

            h3 {
                color: $pink;
            }
        }
    }
}

.text-centered {
    text-align: center;
}
div[main][page="index"]{

    .section__yellow {
        display: flex;
        padding-top: 40px;
        position: relative;

        @media (max-width:600px){
            flex-direction: column;
        }

        h3 {
            font-weight: 700;
        }

        p {
            font-size: 12px;
            line-height: 18px;
        }

        span {
            position: absolute;
            top: 20px;
            left: 50%;
            margin-left: -15px;
            font-size: 30px;
        }

        article {
            flex: 1;
            text-align: center;

            &:nth-child(2){
                margin: 0 20px;
            }
        }
    }
}


div[main][demo] {
    h2 {
        color: $pink;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;

        span {
            font-size: 15px;
            color: $lightpink;
            margin-left: 3px;
        }
    }

    section {
        font-size: 14px;
        margin-bottom: 24px;

        h3 {
            // text-transform: lowercase;
            font-size: 16px;
        }
    }
    h2:before,
    h3:before {
        margin-right: 7px;
    }


    code {
        background: $gray;
        color: $offwhite;
        display: block;
        font-weight: 300;
        padding: 10px;
    }
}


// layout
div[main][demo="layout"]{

    a[data-position],
    a[data-type] {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #000;
        text-decoration: none;
        background-image: url(../images/demo/layout.gif);
        height: 150px;
        width: 125px;
        position: relative;
        font-size: 0;
        opacity: .4;
        will-change: opacity;
        transform: translate3d(0,0,0) scale(.9);
        transition: opacity .2s, transform .2s;
    }
    a[data-position].active,
    a[data-type].active {
        outline: 1px solid #000;
        opacity: 1;
        transform: scale(1);
    }
    a[data-position]:hover,
    a[data-type]:hover {
        opacity: 1;
        transform: scale(1);
    }

    a[data-position]:after,
    a[data-type]:after {
        color: #fff;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #333;
        padding: 2px 6px;
    }

    a[data-position="right"]{
        background-position: 0 -125px;
    }
    a[data-type="parallax"]{
        background-position: 0 -375px;
    }
    a[data-type="reveal"]{
        background-position: 0 -625px;
    }
    a[data-type="slide"]{
        background-position: 0 -500px;
    }
    a[data-type="pan"]{
        background-position: 0 -250px;
    }

    a[data-type]:after {
        content: attr(data-type);
    }
    a[data-position]:after {
        content: attr(data-position);
    }

    .section__inverted {
        color: $pink;
        // font-weight: 400;

        a {
            color: $lightpink;
        }
    }
    .resize {
        display: none;
    }

    @media (min-width: 944px){
        .resize {
            display: inline;
        }


    }
}

div[drawer] {
    background: $brown !important;
    padding: 75px 20px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: $pink;

    h2 {
        font-size: 18px;
        font-weight: 300;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    li {
        margin-bottom: 3px;
    }

    a {
        background: $pink;
        color: $brown;
        display: block;
        font-size: 18px;
        font-weight: 700;
        padding: 12px 14px;
        line-height: 16px;

        &[href="#"] {
            background: $green;

            span {
                float: right;
            }
        }
    }

    span {
        display: block;
        font-size: 11px;
        font-weight: 300;
    }
}


akyral-docs {
    background: $beige;
    padding: 20px;
    margin-bottom: 6px;


    &::shadow {
        * {
            color: $brown;
        }

        code,
        pre {
            background: $offwhite;
            overflow: auto;
            padding: 6px;
        }
        pre {
            padding: 10px;

            code {
                background: transparent;
            }
        }

        h2 {
            font-size: 16px;
            font-weight: 400;
            margin: 40px 0 20px;
            text-transform: uppercase;
        }

        .name {
            float: left;
        }

        .info {
            margin-left: 150px;
        }

        .row {
            margin: 10px;
            border-bottom: 1px solid $offwhite;
            min-height: 40px;

            &:last-child {
                border: 0;
            }
        }
    }
}

core-component-page {
    height: auto;
    font-family: 'Roboto Slab';

    &::shadow core-toolbar {
        display: none;
    }

    &::shadow core-doc-viewer::shadow core-doc-page::shadow core-header-panel {
        position: static !important;

        .main {
            margin: 0;
            padding: 0;

            h1,
            h1 + p,
            .top .ntitle {
                display: none;
            }

            .ntitle {
                font-size: 16px;
                padding: 10px;
                text-transform: uppercase;
            }

            h2 {
                font-size: 16px;
                font-weight: 400;
                margin-top: 20px;
                text-transform: uppercase;
            }
        }

        pre {
            font-size: 14px;
            overflow: auto;
        }

        &::shadow #dropShadow {
            display: none;
        }

        &::shadow #outerContainer {
            position: static;
        }
    }
}
