$brown: #372d3b;
$lighterBrown: #4f3043;
$gray: #514A53;
$pink: #c5415d;
$beige: #eddeab;
$offwhite: #ffffde;
$green: #c6ce9e;

@import 'normalize';
@import 'icons';
@import 'header';


body {
    background: $brown;
    color: $pink;
    font-family: 'Roboto Slab';
    font-weight: 300;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.icon {
    font-family: 'icon';
}


div[main]{
    background: $brown !important;
    padding: 20px;


    h3 {
        color: $brown;
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    section {
        background: $pink;
        color: $lighterBrown;
        position: relative;
        padding: 20px;
        margin-bottom: 6px;

        p {
            margin-top: 0;
        }

        &.section__yellow {
            background: $beige;
        }

        &.section__green {
            background: $green;
        }

        &.section__inverted {
            background: transparent;
            color: $pink;

            h3 {
                color: $pink;
            }
        }

        code {
            background: $gray;
            color: $offwhite;
            display: block;
            padding: 10px;
        }
    }
}

// layout
div[main][demo="layout"]{

    a[data-position],
    a[data-type] {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid #000;
        text-decoration: none;
        background-image: url(/assets/images/demo/layout.gif);
        height: 150px;
        width: 125px;
        position: relative;
        font-size: 0;
        opacity: .4;
        will-change: opacity;
        transform: translate3d(0,0,0) scale(.9);
        transition: opacity .2s, transform .2s;
    }
    a[data-position].active,
    a[data-type].active {
        outline: 1px solid #000;
        opacity: 1;
        transform: scale(1);
    }
    a[data-position]:hover,
    a[data-type]:hover {
        opacity: 1;
        transform: scale(1);
    }

    a[data-position]:after,
    a[data-type]:after {
        color: #fff;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #333;
        padding: 2px 6px;
    }

    a[data-position="right"]{
        background-position: 0 -125px;
    }
    a[data-type="parallax"]{
        background-position: 0 -375px;
    }
    a[data-type="reveal"]{
        background-position: 0 -625px;
    }
    a[data-type="slide"]{
        background-position: 0 -500px;
    }
    a[data-type="pan"]{
        background-position: 0 -250px;
    }

    a[data-type]:after {
        content: attr(data-type);
    }
    a[data-position]:after {
        content: attr(data-position);
    }

    .resize {
        display: none;
    }

    @media (min-width: 944px){
        .resize {
            display: block;
        }
    }
}

div[drawer] {
    background: $brown !important;
    padding: 75px 20px 20px;

    h2 {
        font-size: 18px;
        font-weight: 300;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    a {
        color: $lighterBrown;
        display: block;
        font-weight: 400;
        padding: 14px;

        span {
            float: right;
            font-size: 14px;
            font-weight: 300;
        }
    }
    li {
        margin-bottom: 3px;
    }

    li:first-child{
        background: $pink;
    }

    li:nth-child(2){
        background: $green;
    }
}
