$offwhite: #ffffde;
$darkpurple: #372d3b;
$palepurple: #826D76;
$gray: #514A53;
$pink: #c5415d;
$lightpink: #E27D93;
$pastelpurple: #BDAAA2;
$beige: #E8DAC3;
$green: #A6A67F;



@import 'normalize';
@import 'buttons';
@import 'icons';
@import 'header';
@import 'footer';
@import 'drawer';
@import 'sections';



html,
body {
    height: 100%;
}

body {
    background: $darkpurple;
    color: $gray;
    font-family: 'Roboto Slab';
    font-weight: 300;
}

button {
    font-family: 'Arial';
    font-size: 12px;
    text-transform: uppercase;
}

akyral-layout {
    height: 100%;
    max-width: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $pink;

    &:hover {
        border-color: $offwhite;
        color: $offwhite;
    }

    text-decoration: none;
}

b {
    font-weight: 400;
}

.icon {
    font-family: 'icon';
}


div[main]{
    background: $beige !important;

    h3 {
        font-size: 17px;
        font-weight: 400;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    h2:before,
    h3:before {
        margin-right: 7px;
    }

    // section {
    //     margin: 40px auto;
    //     padding: 0 40px;
    //
    //     p {
    //         margin-top: 0;
    //     }
    //
    //     &.section__palepurple {
    //         background: $pastelpurple;
    //         color: $darkpurple;
    //         padding: 40px;
    //         margin: 0;
    //
    //         h3 {
    //             color: $darkpurple;
    //         }
    //     }
    //
    //     &.section__inverted {
    //         background: $darkpurple;
    //         color: $beige;
    //         padding: 40px;
    //         margin-bottom: 0;
    //
    //         h3 {
    //             color: $pink;
    //         }
    //     }
    // }
}

.text-centered {
    text-align: center;
}
div[main][page="index"]{

    .section__inverted {
        display: flex;
        position: relative;

        @media (max-width:600px){
            flex-direction: column;
        }

        p {
            color: $offwhite;
            font-size: 14px;
            line-height: 18px;
        }

        span {
            position: absolute;
            top: 20px;
            left: 50%;
            margin-left: -15px;
            font-size: 30px;
        }

        article {
            flex: 1;
            text-align: center;

            &:nth-child(2){
                margin: 0 20px;
            }
        }
    }
}


div[main][demo] {
    h2 {
        color: $pink;
        font-size: 22px;
        font-weight: 400;
        margin: 40px 0 0 0;
        padding: 0 40px;
        text-transform: uppercase;


        span {
            font-size: 17px;
            color: $lightpink;
            margin-left: 3px;
        }
    }


    code {
        background: $gray;
        color: $offwhite;
        display: block;
        font-weight: 300;
        padding: 20px;
    }
}


//dialog
div[main][demo="dialog"]{

    .section__review {
        overflow: auto;

        demo-dialog-configuration {
            &::shadow code {
                color: $darkpurple;
                font-size: 1.3em;
                font-weight: 700;
            }
        }
    }

    .dialog__type .button__config {
        margin: 4px;
        width: 100px;
    }

    .dialog__pinned,
    .dialog__position {
        background: $pastelpurple;
        height: 300px;
        position: relative;
        width: 100%;

        .button__config {
            line-height: 70px;
            position: absolute;
            width: 100px;
        }

        .button__config--selected {
            z-index: 1;
            font-weight: 400;
        }

        [notap] .button__config {
            background: transparent;
            border: 2px solid $palepurple;
            color: $palepurple;
        }
    }

    .dialog__position .button__config {
        &:after,
        &:before {
            content: '';
            position: absolute;
        }

        &:hover:after,
        &:hover:before,
        &.button__config--selected:after,
        &.button__config--selected:before {
            border-color: $offwhite;
        }
    }

    .dialog__position [notap] button:after,
    .dialog__position [notap] button:before {
        border-color: $palepurple;
    }

    [data-pinned="top"] {
        top: 0;
    }
    [data-pinned="right"] {
        right: 0;
    }
    [data-pinned="bottom"] {
        bottom: 0;
    }
    [data-pinned="left"] {
        left: 0;
    }
    [data-pinned="bottom"],
    [data-pinned="top"] {
        left: 50%;
        transform: translate3d(-50%,0,0);
    }
    [data-pinned="right"],
    [data-pinned="left"] {
        top: 50%;
        transform: translate3d(0,-50%,0);
    }

    [data-position="top"],
    [data-position="bottom"] {
        left: 50%;
        transform: translate3d(-50%,0,0);

        &:before,
        &:after {
            border-top: 2px dotted $darkpurple;
            width: 70px;
        }
        &:before {
            right: 100%;
        }
        &:after {
            left: 100%;
        }
    }

    [data-position="left"],
    [data-position="right"] {
        top: 50%;
        transform: translate3d(0,-50%,0);

        &:before,
        &:after {
            border-left: 2px dotted $darkpurple;
            height: 70px;
        }
        &:before {
            top: 100%;
        }
        &:after {
            bottom: 100%;
        }
    }

    [data-position="top"] {
        top: 10%;

        &:after,
        &:before {
            top: 10%;
        }
    }
    [data-position="bottom"] {
        bottom: 10%;

        &:after,
        &:before {
            bottom: 10%;
        }
    }
    [data-position="left"] {
        left: 10%;

        &:after,
        &:before {
            left: 10%;
        }
    }
    [data-position="right"] {
        right: 10%;

        &:after,
        &:before {
            right: 10%;
        }
    }
}

demo-dialog-content {
    box-sizing: border-box;
    color: $offwhite;
    padding: 18px;

    &::shadow {
        p {
            margin: 0;
        }

        h3 {
            margin-top: 0;
        }

        button {
            background: $gray;
            border: 2px solid $offwhite;
            border: 0;
            color: $offwhite;
            cursor: pointer;
            padding: 14px 20px;
            margin-top: 10px;
            text-transform: uppercase;
            transition: background .3s;

            &:hover {
                background: $darkpurple;
            }
        }

    }
}

akyral-dialog {
    background: $darkpurple;

    &::shadow #modal {
        background: $pink;
    }
}
akyral-dialog[type="takeover"] {
    background: $pink !important;
}

// layout
div[main][demo="layout"]{

    a[data-position],
    a[data-type] {
        box-sizing: border-box;
        display: inline-block;
        // border: 1px solid $pink;
        box-shadow: 0 0 2px rgba(0,0,0,.3);
        text-decoration: none;
        background-image: url(../images/demo/layout.png);
        height: 145px;
        width: 125px;
        position: relative;
        font-size: 0;
        opacity: .4;
        margin: 4px;
        will-change: opacity;
        transform: translate3d(0,0,0) scale(.9);
        transition: opacity .2s, transform .2s;
    }
    a[data-position].active,
    a[data-type].active {
        // outline: 1px solid $pink;
        opacity: 1;
        transform: scale(1);
    }
    a[data-position]:hover,
    a[data-type]:hover {
        opacity: 1;
        transform: scale(1);
    }

    a[data-position]:after,
    a[data-type]:after {
        color: #fff;
        font-size: 14px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $pink;
        padding: 2px 6px;
    }

    a[data-position="right"]{
        background-position: 0 -125px;
    }
    a[data-type="parallax"]{
        background-position: 0 -375px;
    }
    a[data-type="reveal"]{
        background-position: 0 -625px;
    }
    a[data-type="slide"]{
        background-position: 0 -500px;
    }
    a[data-type="pan"]{
        background-position: 0 -250px;
    }

    a[data-type]:after {
        content: attr(data-type);
    }
    a[data-position]:after {
        content: attr(data-position);
    }

    .section__inverted {

        a {
            color: $lightpink;
        }
    }
    .resize {
        display: none;
    }

    @media (min-width: 944px){
        .resize {
            display: inline;
        }


    }
}




akyral-docs {
    background: transparent;
    padding: 40px;
    margin-bottom: 6px;


    &::shadow {
        * {
            color: $darkpurple;
        }

        context-free-parser + h2 {
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
        }

        code,
        pre {
            background: $pastelpurple;
            overflow: auto;
            padding: 10px;
            border-radius: 3px;
        }
        pre {
            padding: 10px;

            code {
                background: transparent;
            }
        }

        p code,
        .row code {
            background: transparent;
            color: $pink;
            padding: 4px;
        }

        h2 {
            font-size: 16px;
            font-weight: 400;
            margin: 20px 0 20px;
            text-transform: uppercase;
        }

        .name {
            float: left;
        }

        .info {
            margin-left: 150px;
        }

        .row {
            margin: 10px;
            border-bottom: 1px solid $pastelpurple;
            min-height: 40px;

            &:last-child {
                border: 0;
            }
        }
    }
}

core-component-page {
    height: auto;
    font-family: 'Roboto Slab';

    &::shadow core-toolbar {
        display: none;
    }

    &::shadow core-doc-viewer::shadow core-doc-page::shadow core-header-panel {
        position: static !important;

        .main {
            margin: 0;
            padding: 0;

            h1,
            h1 + p,
            .top .ntitle {
                display: none;
            }

            .ntitle {
                font-size: 16px;
                padding: 10px;
                text-transform: uppercase;
            }

            h2 {
                font-size: 16px;
                font-weight: 400;
                margin-top: 20px;
                text-transform: uppercase;
            }
        }

        pre {
            font-size: 14px;
            overflow: auto;
        }

        &::shadow #dropShadow {
            display: none;
        }

        &::shadow #outerContainer {
            position: static;
        }
    }
}
