$offwhite: #F1F1F1;
$darkpurple: #372d3b;
$palepurple: #937F88;
$gray: #514A53;
$pink: #c5415d;
$lightpink: #E27D93;
$smokegray: #CFCFCF;
$green: #A6A67F;



@import 'partials/normalize';
@import 'partials/buttons';
@import 'partials/icons';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/drawer';
@import 'partials/sections';


body {
    color: $gray;
    font-family: 'Lato';
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: 'News Cycle';
    font-weight: 400;
    padding: 0;
    margin: 0;
}

button {
    font-family: 'Arial';
    font-size: 12px;
    text-transform: uppercase;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $pink;
    font-weight: 400;
    text-decoration: none;

    &:hover {
        color: $lightpink;
    }
}


akyral-layout {
    max-width: inherit !important;
}


[main][home]{
    background: transparent !important;
}

div[main][demo]{
    background: $offwhite !important;
    padding: 0;

    > h2 {
        color: $pink;
        font-size: 22px;
        font-weight: 400;
        margin: 30px 0 0 0;
        padding: 0 30px;
        text-transform: uppercase;

        span {
            font-size: 17px;
            color: $lightpink;
            margin-left: 3px;
        }
    }
}
