$offwhite: #ffffde;
$darkpurple: #372d3b;
$palepurple: #826D76;
$gray: #514A53;
$pink: #c5415d;
$lightpink: #E27D93;
$pastelpurple: #BDAAA2;
$beige: #E8DAC3;
$green: #A6A67F;



@import 'partials/normalize';
@import 'partials/buttons';
@import 'partials/icons';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/drawer';
@import 'partials/sections';



html,
body {
    height: 100%;
}

body {
    background: $darkpurple;
    color: $gray;
    font-family: 'Roboto Slab';
    font-weight: 300;
}

button {
    font-family: 'Arial';
    font-size: 12px;
    text-transform: uppercase;
}

akyral-layout {
    height: 100%;
    max-width: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $pink;

    &:hover {
        border-color: $offwhite;
        color: $offwhite;
    }

    text-decoration: none;
}

b {
    font-weight: 400;
}



div[main]{
    background: $beige !important;

    h3 {
        font-size: 17px;
        font-weight: 400;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    h2:before,
    h3:before {
        margin-right: 7px;
    }
}

div[main][demo] {
    h2 {
        color: $pink;
        font-size: 22px;
        font-weight: 400;
        margin: 40px 0 0 0;
        padding: 0 40px;
        text-transform: uppercase;

        span {
            font-size: 17px;
            color: $lightpink;
            margin-left: 3px;
        }
    }
}
