@import 'base';


div[main]{

    .section__inverted {
        display: flex;
        position: relative;

        @media (max-width:600px){
            flex-direction: column;
        }

        p {
            color: $offwhite;
            font-size: 14px;
            line-height: 18px;
        }

        span {
            position: absolute;
            top: 20px;
            left: 50%;
            margin-left: -15px;
            font-size: 30px;
        }

        article {
            flex: 1;
            text-align: center;

            &:nth-child(2){
                margin: 0 20px;
            }
        }
    }
}
