@import 'base';
@import 'partials/documentation';

.demo__position {
    background: $pastelpurple;
    height: 300px;
    position: relative;
    width: 100%;

    .button__config {
        bottom: 10px;
        position: absolute;
        top: 10px;
        width: 150px;
    }

    [data-position="left"]{
        left: 10px;
    }

    [data-position="right"]{
        right: 10px;
    }
}
.demo__type {
    .button__config {
        margin: 4px;
        width: 100px;
    }
}

a[data-position],
a[data-type] {
    box-sizing: border-box;
    display: inline-block;
    // border: 1px solid $pink;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    text-decoration: none;
    background-image: url(../images/demo/layout.png);
    height: 145px;
    width: 125px;
    position: relative;
    font-size: 0;
    opacity: .4;
    margin: 4px;
    will-change: opacity;
    transform: translate3d(0,0,0) scale(.9);
    transition: opacity .2s, transform .2s;
}

a[data-position].active,
a[data-type].active {
    // outline: 1px solid $pink;
    opacity: 1;
    transform: scale(1);
}

a[data-position]:hover,
a[data-type]:hover {
    opacity: 1;
    transform: scale(1);
}

a[data-position]:after,
a[data-type]:after {
    color: #fff;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $pink;
    padding: 2px 6px;
}

a[data-position="right"]{
    background-position: 0 -125px;
}

a[data-type="parallax"]{
    background-position: 0 -375px;
}

a[data-type="reveal"]{
    background-position: 0 -625px;
}

a[data-type="slide"]{
    background-position: 0 -500px;
}

a[data-type="pan"]{
    background-position: 0 -250px;
}

a[data-type]:after {
    content: attr(data-type);
}

a[data-position]:after {
    content: attr(data-position);
}

.resize {
    display: none;
}

@media (min-width: 944px){
    .resize {
        display: inline;
    }
}
