@import 'base';
@import 'partials/documentation';


.modal__type .button__config {
    margin: 4px;
    width: 100px;
}

.modal__pinned,
.modal__position {
    background: $pastelpurple;
    height: 300px;
    position: relative;
    width: 100%;

    .button__config {
        line-height: 70px;
        position: absolute;
        width: 100px;
    }

    .button__config--selected {
        z-index: 1;
        font-weight: 400;
    }

    [notap] .button__config {
        background: transparent;
        border: 2px solid $palepurple;
        color: $palepurple;
    }
}

.modal__position .button__config {
    &:after,
    &:before {
        content: '';
        position: absolute;
    }

    &:hover:after,
    &:hover:before,
    &.button__config--selected:after,
    &.button__config--selected:before {
        border-color: $offwhite;
    }
}

.modal__position [notap] button:after,
.modal__position [notap] button:before {
    border-color: $palepurple !important;
}

[data-pinned="top"] {
    top: 0;
}
[data-pinned="right"] {
    right: 0;
}
[data-pinned="bottom"] {
    bottom: 0;
}
[data-pinned="left"] {
    left: 0;
}
[data-pinned="bottom"],
[data-pinned="top"] {
    left: 50%;
    transform: translate3d(-50%,0,0);
}
[data-pinned="right"],
[data-pinned="left"] {
    top: 50%;
    transform: translate3d(0,-50%,0);
}

[data-position="top"],
[data-position="bottom"] {
    left: 50%;
    transform: translate3d(-50%,0,0);

    &:before,
    &:after {
        border-top: 2px dotted $darkpurple;
        width: 70px;
    }
    &:before {
        right: 100%;
    }
    &:after {
        left: 100%;
    }
}

[data-position="left"],
[data-position="right"] {
    top: 50%;
    transform: translate3d(0,-50%,0);

    &:before,
    &:after {
        border-left: 2px dotted $darkpurple;
        height: 70px;
    }
    &:before {
        top: 100%;
    }
    &:after {
        bottom: 100%;
    }
}

[data-position="top"] {
    top: 10%;

    &:after,
    &:before {
        top: 10%;
    }
}
[data-position="bottom"] {
    bottom: 10%;

    &:after,
    &:before {
        bottom: 10%;
    }
}
[data-position="left"] {
    left: 10%;

    &:after,
    &:before {
        left: 10%;
    }
}
[data-position="right"] {
    right: 10%;

    &:after,
    &:before {
        right: 10%;
    }
}



demo-modal-content {
    box-sizing: border-box;
    color: $offwhite;
    padding: 18px;

    &::shadow {
        p {
            margin: 0;
        }

        h3 {
            margin-top: 0;
        }

        button {
            background: $gray;
            border: 2px solid $offwhite;
            border: 0;
            color: $offwhite;
            cursor: pointer;
            padding: 14px 20px;
            margin-top: 10px;
            text-transform: uppercase;
            transition: background .3s;

            &:hover {
                background: $darkpurple;
            }
        }

    }
}

akyral-modal[core] {
    background: $darkpurple;
}

akyral-modal[content] {
    background: $pink;
}

akyral-modal[core][type="takeover"] {
    background: $pink !important;
}
