---
title: Layout
header: compressed
components:
- layout

---


<section class="section__yellow">
    <h3>Drawer Position</h3>
    <a href="#" data-position="left">left</a>
    <a href="#" data-position="right">right</a>
</section>

<section class="section__green">
    <h3>Drawer Type</h3>
    <p class="resize">Resize brower down to play with these options.</p>
    <a href="#" data-type="pan">pan</a>
    <a href="#" data-type="parallax">parallax</a>
    <a href="#" data-type="reveal">reveal</a>
    <a href="#" data-type="slide">slide</a>
</section>

<section class="section__inverted">
    <h3>Install</h3>
    <code>
        $ bower install --save ui-layout
    </code>
</section>

<script charset="utf-8">
    (function(){
        var drawerInner = document.querySelector('[drawer]').innerHTML,
            mainInner = document.querySelector('[main]').innerHTML,
            ui = document.querySelector('ui-layout'),
            currentType = 'pan',
            currentPosition = 'left';

        function bindEvents(){
            var anchors = document.querySelectorAll('[main] a');

            [].forEach.call(anchors, function(anchor){
                anchor.addEventListener('click', createNewUi);
            });

            document.querySelector('a[data-type="'+currentType+'"]').classList.add('active');
            document.querySelector('a[data-position="'+currentPosition+'"]').classList.add('active');
        }

        function createNewUi(e){
            var ui = document.querySelector('ui-layout'),
                drawer = document.createElement('div'),
                main = document.createElement('div'),
                newUi = new UiLayout();

            drawer.setAttribute('drawer', '');
            drawer.innerHTML = drawerInner;

            main.setAttribute('main', '');
            main.setAttribute('demo', 'layout');
            main.innerHTML = mainInner;

            main.querySelector('button[name="menu"]').addEventListener('click', function(){
                document.querySelector('ui-layout').toggleDrawer();
            });

            newUi.appendChild(drawer);
            newUi.appendChild(main);

            if(this.hasAttribute('data-type')){
                currentType = this.getAttribute('data-type');
            }

            if(this.hasAttribute('data-position')){
                currentPosition = this.getAttribute('data-position');
            }

            drawer.setAttribute(currentPosition,'');
            drawer.setAttribute(currentType,'');

            // ga('send', 'event', 'ui-layout', 'set type and position', currentPosition+' '+currentType);

            document.body.removeChild(ui);
            document.body.appendChild(newUi);

            bindEvents();

            return false;
        }

        bindEvents();
    }());
</script>
