---
title: Layout
pageType: documention
components:
- layout

---

<section>
    <h3>Drawer Type</h3>
    <a href="#" data-type="pan">pan</a>
    <a href="#" data-type="parallax">parallax</a>
    <a href="#" data-type="reveal">reveal</a>
    <a href="#" data-type="slide">slide</a>
</section>

<section>
    <h3>Drawer Position</h3>
    <a href="#" data-position="left">left</a>
    <a href="#" data-position="right">right</a>
</section>

<section>

    <button name="open">open</button>

    <h2>[Main] <span>element</span></h2>
    <p>
        Aliquip ipsum laborum nulla occaecat ad fugiat voluptate fugiat culpa laboris fugiat voluptate nulla aliquip. Nulla exercitation proident deserunt dolore adipisicing veniam. Cillum quis consequat incididunt officia elit. Nulla officia magna occaecat esse cupidatat reprehenderit dolore. Nisi duis nostrud commodo occaecat duis ullamco duis Lorem dolore in exercitation laborum.
    Labore fugiat ullamco nostrud aliquip do labore quis velit veniam. Incididunt mollit ea velit ea sit adipisicing in ea magna duis veniam. Occaecat quis veniam dolor aliqua et do elit. Reprehenderit Lorem pariatur aliqua proident ut minim pariatur veniam do excepteur. Incididunt ipsum excepteur qui laboris sit.
    Velit deserunt mollit aliqua voluptate esse mollit do proident elit.
    </p>
    <p>
        Quis non cupidatat occaecat ullamco nisi ullamco. Nostrud non elit nisi amet velit consectetur officia. Voluptate mollit veniam incididunt incididunt Lorem mollit. Dolor ea magna id laboris ex incididunt qui ut. Cupidatat dolore cupidatat nostrud nostrud cillum adipisicing esse labore non veniam nisi in. In enim aute pariatur excepteur irure duis reprehenderit excepteur et pariatur ex sunt anim. Mollit in irure nisi dolor ea.
    Reprehenderit nulla irure nulla quis laboris aute. Est aliquip aliqua est irure fugiat consequat ad ex esse. Aliquip non sit laborum voluptate cillum proident. Est culpa nulla laboris veniam irure eu. Esse Lorem aliquip consequat nulla proident veniam ipsum nulla. Dolor in occaecat excepteur esse nulla ullamco ipsum fugiat cupidatat fugiat eu. Elit adipisicing ad pariatur exercitation eiusmod nisi elit eu.
    Sit amet reprehenderit qui ea eu laboris laboris adipisicing. Quis dolore voluptate ullamco sit incididunt laborum.
    </p>
    <p>
        Ea ex nisi incididunt mollit mollit ex. Sunt anim consequat fugiat sit nulla esse esse laboris sint cillum esse duis in tempor.
    </p>
</section>
